
.title{
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
}

.subtitle{
    display:block;
    text-align: center;
    font-size: 22px;

}

.option {
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    align-items: center;
    height: 125px;
    width: 180px;
    border-radius: 12px;
    opacity: 90%;
    padding-top: 10px;
}

.infoComponents{
    margin-top: 80px;
    width: 700px;
    display:flex;
    justify-content: space-between;
    justify-items: center;
}

